.star-rate .fas,
.star-rate .far {
	font-size: 25px;
}

.at-gray-bg {
	background-color: #dddddd !important;
	color: #333 !important;
}
.at-gray-bg .nav-link {
	color: #333 !important;
}

.at-white-bg {
	background-color: #fff !important;
	color: #333 !important;
}

.form-control {
	color: #333 !important;
}

.focused .form-control {
	border-color: rgba(117, 11, 11, 0.25) !important;
}

#audits_table tr {
	cursor: pointer;
}

.table-responsiveness {
	overflow: auto;
	height: 100%;
}

.table {
	overflow: auto;
	height: 100%;
}

html,
body {
	height: 100%;
	width: 100%;
}

#error_500 {
	height: 100%;
	width: 100%;
}
